/* iCheck plugin Square skin, blue
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.icheckbox_square-blue,
.iradio_square-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(/assets/icheck/square/blue-abff66ea99f7e2b2a51d02feb00d0385f2ac35100fdc65b5d4e4395228fd020b.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.icheckbox_square-blue {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.icheckbox_square-blue.hover {
  background-position: -24px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.icheckbox_square-blue.checked {
  background-position: -48px 0;
}

/* line 27, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.icheckbox_square-blue.disabled {
  background-position: -72px 0;
  cursor: default;
}

/* line 31, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.icheckbox_square-blue.checked.disabled {
  background-position: -96px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.iradio_square-blue {
  background-position: -120px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.iradio_square-blue.hover {
  background-position: -144px 0;
}

/* line 41, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.iradio_square-blue.checked {
  background-position: -168px 0;
}

/* line 44, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.iradio_square-blue.disabled {
  background-position: -192px 0;
  cursor: default;
}

/* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
.iradio_square-blue.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 54, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/square/blue.scss */
  .icheckbox_square-blue,
  .iradio_square-blue {
    background-image: url(/assets/icheck/square/blue@2x-c0ce7ecfbd5605a7a0d0239d83b736eda75dbc71ff183472e02c6d6cdfbcc888.png);
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}
