/* iCheck plugin Flat skin, aero
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.icheckbox_flat-aero,
.iradio_flat-aero {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/aero-870db4ecdf5732a8fe5fb55e50d552f59fb8170fce3c321f3e1ef7f0605d1028.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.icheckbox_flat-aero {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.icheckbox_flat-aero.checked {
  background-position: -22px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.icheckbox_flat-aero.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.icheckbox_flat-aero.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.iradio_flat-aero {
  background-position: -88px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.iradio_flat-aero.checked {
  background-position: -110px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.iradio_flat-aero.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
.iradio_flat-aero.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/aero.scss */
  .icheckbox_flat-aero,
  .iradio_flat-aero {
    background-image: url(/assets/icheck/flat/aero@2x-3ba32ee9bd791144850020cf9ce51409a2b95faf35bf7f40e9777dba2ba59de1.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
