/* iCheck plugin flat skin, black
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat,
.iradio_flat {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/flat-649617bbce32ff4e0a8343c6f011a17116e86b13c50c1d9bfa92c0ee20605bec.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat.checked {
  background-position: -22px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.icheckbox_flat.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat {
  background-position: -88px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat.checked {
  background-position: -110px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
.iradio_flat.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/flat.scss */
  .icheckbox_flat,
  .iradio_flat {
    background-image: url(/assets/icheck/flat/flat@2x-761a11a1d4b30c951218c185ce70e208db481dd4d2516a73dfa53f7c3d0a62da.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
