/* iCheck plugin Flat skin, green
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green,
.iradio_flat-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/green-34858518bad21f9134e78e32fcfbc38ff468553c43944721cbdb5d80ca5472d4.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green.checked {
  background-position: -22px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.icheckbox_flat-green.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green {
  background-position: -88px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green.checked {
  background-position: -110px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
.iradio_flat-green.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/green.scss */
  .icheckbox_flat-green,
  .iradio_flat-green {
    background-image: url(/assets/icheck/flat/green@2x-af0c9f69994fbb887a9f2d21aac89de946a6994a7f5a89e6f767b4f6473982ac.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
