/* iCheck plugin Flat skin, orange
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.icheckbox_flat-orange,
.iradio_flat-orange {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/orange-e7c0220f2a222f0b1b4ed4ecfada3f67347cbd3a2c83fd75a1515378336421b0.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.icheckbox_flat-orange {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.icheckbox_flat-orange.checked {
  background-position: -22px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.icheckbox_flat-orange.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.icheckbox_flat-orange.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.iradio_flat-orange {
  background-position: -88px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.iradio_flat-orange.checked {
  background-position: -110px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.iradio_flat-orange.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
.iradio_flat-orange.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/orange.scss */
  .icheckbox_flat-orange,
  .iradio_flat-orange {
    background-image: url(/assets/icheck/flat/orange@2x-a6d0bce44faca0c35a1e385aca6f924c4442245fdbb83ecb596f509cf2dc4b38.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
