/* iCheck plugin Flat skin, pink
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink,
.iradio_flat-pink {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/pink-a6dc520b10c2ccdde3aefcc9f27f7c6a632b4b57a72b335473941ea4b9890c5b.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink.checked {
  background-position: -22px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.icheckbox_flat-pink.checked.disabled {
  background-position: -66px 0;
}

/* line 32, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink {
  background-position: -88px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink.checked {
  background-position: -110px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
.iradio_flat-pink.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/flat/pink.scss */
  .icheckbox_flat-pink,
  .iradio_flat-pink {
    background-image: url(/assets/icheck/flat/pink@2x-c396b51e6f1cebe562fccf2fa266851f6e020f1efae533fabcb89e60efae8412.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
