/* iCheck plugin Minimal skin
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal,
.iradio_minimal {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/minimal-2ec52d6497f27f697e161200fcc0dae3c20ba11c3322d2e2e9d0ad19355ea298.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal.hover {
  background-position: -20px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal.checked {
  background-position: -40px 0;
}

/* line 27, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 31, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal.checked.disabled {
  background-position: -80px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal {
  background-position: -100px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal.hover {
  background-position: -120px 0;
}

/* line 41, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal.checked {
  background-position: -140px 0;
}

/* line 44, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 54, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal,
  .iradio_minimal {
    background-image: url(/assets/icheck/minimal/minimal@2x-c4e6567d9f75e60bcc26c0cc71ddd3268d02eff92e2907920ef2904028955b78.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* red */
/* line 63, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-red,
.iradio_minimal-red {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/red-9c2ab7cc55dfafd7343804da7fa39111e1b225fdba40a532a7425ceb2171e4a9.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 77, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-red {
  background-position: 0 0;
}

/* line 80, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-red.hover {
  background-position: -20px 0;
}

/* line 83, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-red.checked {
  background-position: -40px 0;
}

/* line 86, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-red.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 90, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-red.checked.disabled {
  background-position: -80px 0;
}

/* line 94, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-red {
  background-position: -100px 0;
}

/* line 97, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-red.hover {
  background-position: -120px 0;
}

/* line 100, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-red.checked {
  background-position: -140px 0;
}

/* line 103, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-red.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 107, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-red.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 113, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-red,
  .iradio_minimal-red {
    background-image: url(/assets/icheck/minimal/red@2x-bd22b4d271868f16cc2161ac0fae8ec07e3dd5aa1057b0e2712e3fa1c1e9d842.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* green */
/* line 122, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-green,
.iradio_minimal-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/green-696e11dbe54fd4909439870ddb7c827c0799b2d565cffaf2804087ff58600e23.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 136, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-green {
  background-position: 0 0;
}

/* line 139, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-green.hover {
  background-position: -20px 0;
}

/* line 142, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-green.checked {
  background-position: -40px 0;
}

/* line 145, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-green.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 149, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-green.checked.disabled {
  background-position: -80px 0;
}

/* line 153, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-green {
  background-position: -100px 0;
}

/* line 156, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-green.hover {
  background-position: -120px 0;
}

/* line 159, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-green.checked {
  background-position: -140px 0;
}

/* line 162, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-green.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 166, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-green.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 172, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-green,
  .iradio_minimal-green {
    background-image: url(/assets/icheck/minimal/green@2x-aad28af306b2aa916f459f466de51c7ce86fa5a60dc924a0572a64db102427f4.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* blue */
/* line 181, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/blue-554d1c81ca2ad1da94f15b8d6446069244cbcb4d3d11028cd30940eb2d437b13.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 195, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-blue {
  background-position: 0 0;
}

/* line 198, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-blue.hover {
  background-position: -20px 0;
}

/* line 201, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-blue.checked {
  background-position: -40px 0;
}

/* line 204, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-blue.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 208, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-blue.checked.disabled {
  background-position: -80px 0;
}

/* line 212, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-blue {
  background-position: -100px 0;
}

/* line 215, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-blue.hover {
  background-position: -120px 0;
}

/* line 218, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-blue.checked {
  background-position: -140px 0;
}

/* line 221, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-blue.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 225, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-blue.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 231, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-blue,
  .iradio_minimal-blue {
    background-image: url(/assets/icheck/minimal/blue@2x-703ab1d8cf4148e179021fdfdbb045297f0d383c872b8a433794b5ffe8480424.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* aero */
/* line 240, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-aero,
.iradio_minimal-aero {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/aero-dd315622eec3d7116566abc8400b484f08c2a4d18f06f1ba308886ba50e856e2.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 254, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-aero {
  background-position: 0 0;
}

/* line 257, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-aero.hover {
  background-position: -20px 0;
}

/* line 260, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-aero.checked {
  background-position: -40px 0;
}

/* line 263, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-aero.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 267, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-aero.checked.disabled {
  background-position: -80px 0;
}

/* line 271, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-aero {
  background-position: -100px 0;
}

/* line 274, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-aero.hover {
  background-position: -120px 0;
}

/* line 277, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-aero.checked {
  background-position: -140px 0;
}

/* line 280, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-aero.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 284, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-aero.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 290, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-aero,
  .iradio_minimal-aero {
    background-image: url(/assets/icheck/minimal/aero@2x-57b9c071468da201173814c27496bb0e8f318c2945fb08e1f3c75531ae184e99.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* grey */
/* line 299, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-grey,
.iradio_minimal-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/grey-654da0ad45d54a5ec79ee661aba96b7113bccb52caedbcfd6629b044a0d80000.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 313, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-grey {
  background-position: 0 0;
}

/* line 316, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-grey.hover {
  background-position: -20px 0;
}

/* line 319, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-grey.checked {
  background-position: -40px 0;
}

/* line 322, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-grey.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 326, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-grey.checked.disabled {
  background-position: -80px 0;
}

/* line 330, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-grey {
  background-position: -100px 0;
}

/* line 333, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-grey.hover {
  background-position: -120px 0;
}

/* line 336, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-grey.checked {
  background-position: -140px 0;
}

/* line 339, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-grey.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 343, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-grey.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 349, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-grey,
  .iradio_minimal-grey {
    background-image: url(/assets/icheck/minimal/grey@2x-94d3d7416dd0ecfb88bd0456d8ac4a0c87e3cc9bf0728f86e4bae0b38b6e4f70.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* orange */
/* line 358, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-orange,
.iradio_minimal-orange {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/orange-488e581ddb601d3a12e355d96582a51df60d7701e447dc9b49fd59b335b710bf.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 372, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-orange {
  background-position: 0 0;
}

/* line 375, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-orange.hover {
  background-position: -20px 0;
}

/* line 378, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-orange.checked {
  background-position: -40px 0;
}

/* line 381, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-orange.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 385, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-orange.checked.disabled {
  background-position: -80px 0;
}

/* line 389, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-orange {
  background-position: -100px 0;
}

/* line 392, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-orange.hover {
  background-position: -120px 0;
}

/* line 395, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-orange.checked {
  background-position: -140px 0;
}

/* line 398, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-orange.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 402, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-orange.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 408, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-orange,
  .iradio_minimal-orange {
    background-image: url(/assets/icheck/minimal/orange@2x-dd10fd94fa6aa469afe8d066985e1dbc79c64df38d83ce58201d97681cd52e25.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* yellow */
/* line 417, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-yellow,
.iradio_minimal-yellow {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/yellow-25996589dadb7140266f41d84843850db880fb6accc5a7f783fe57347ef8b7e4.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 431, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-yellow {
  background-position: 0 0;
}

/* line 434, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-yellow.hover {
  background-position: -20px 0;
}

/* line 437, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-yellow.checked {
  background-position: -40px 0;
}

/* line 440, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-yellow.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 444, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-yellow.checked.disabled {
  background-position: -80px 0;
}

/* line 448, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-yellow {
  background-position: -100px 0;
}

/* line 451, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-yellow.hover {
  background-position: -120px 0;
}

/* line 454, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-yellow.checked {
  background-position: -140px 0;
}

/* line 457, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-yellow.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 461, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-yellow.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 467, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-yellow,
  .iradio_minimal-yellow {
    background-image: url(/assets/icheck/minimal/yellow@2x-090154cf3bb9a087b881de2697f02f3b25d960d4a3472c550de4dace1b6d2f55.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* pink */
/* line 476, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-pink,
.iradio_minimal-pink {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/pink-7d0125de70c23a23bd517fdf88029ec95cc3db850790cc561d1e6489685629da.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 490, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-pink {
  background-position: 0 0;
}

/* line 493, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-pink.hover {
  background-position: -20px 0;
}

/* line 496, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-pink.checked {
  background-position: -40px 0;
}

/* line 499, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-pink.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 503, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-pink.checked.disabled {
  background-position: -80px 0;
}

/* line 507, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-pink {
  background-position: -100px 0;
}

/* line 510, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-pink.hover {
  background-position: -120px 0;
}

/* line 513, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-pink.checked {
  background-position: -140px 0;
}

/* line 516, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-pink.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 520, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-pink.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 526, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-pink,
  .iradio_minimal-pink {
    background-image: url(/assets/icheck/minimal/pink@2x-40e1f51b7fe16e7db4841b3229256bb24e33ea0d28138b1ea73cda2a9c65b0fd.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
/* purple */
/* line 535, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-purple,
.iradio_minimal-purple {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/purple-0d2562d66fc7b4323c406179bdca227125a15fd053392e3aa5eaf496795a8ee4.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 549, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-purple {
  background-position: 0 0;
}

/* line 552, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-purple.hover {
  background-position: -20px 0;
}

/* line 555, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-purple.checked {
  background-position: -40px 0;
}

/* line 558, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-purple.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 562, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.icheckbox_minimal-purple.checked.disabled {
  background-position: -80px 0;
}

/* line 566, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-purple {
  background-position: -100px 0;
}

/* line 569, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-purple.hover {
  background-position: -120px 0;
}

/* line 572, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-purple.checked {
  background-position: -140px 0;
}

/* line 575, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-purple.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 579, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
.iradio_minimal-purple.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 585, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/_all.scss */
  .icheckbox_minimal-purple,
  .iradio_minimal-purple {
    background-image: url(/assets/icheck/minimal/purple@2x-df0f7e1b34738daa5c2d879823ee17986bed8a0457c4c90d489be645d01fdae2.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
