/* iCheck plugin Minimal skin, aero
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.icheckbox_minimal-aero,
.iradio_minimal-aero {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/aero-dd315622eec3d7116566abc8400b484f08c2a4d18f06f1ba308886ba50e856e2.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.icheckbox_minimal-aero {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.icheckbox_minimal-aero.hover {
  background-position: -20px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.icheckbox_minimal-aero.checked {
  background-position: -40px 0;
}

/* line 27, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.icheckbox_minimal-aero.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 31, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.icheckbox_minimal-aero.checked.disabled {
  background-position: -80px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.iradio_minimal-aero {
  background-position: -100px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.iradio_minimal-aero.hover {
  background-position: -120px 0;
}

/* line 41, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.iradio_minimal-aero.checked {
  background-position: -140px 0;
}

/* line 44, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.iradio_minimal-aero.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
.iradio_minimal-aero.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 54, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/aero.scss */
  .icheckbox_minimal-aero,
  .iradio_minimal-aero {
    background-image: url(/assets/icheck/minimal/aero@2x-57b9c071468da201173814c27496bb0e8f318c2945fb08e1f3c75531ae184e99.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
