/* iCheck plugin Minimal skin, orange
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.icheckbox_minimal-orange,
.iradio_minimal-orange {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/assets/icheck/minimal/orange-488e581ddb601d3a12e355d96582a51df60d7701e447dc9b49fd59b335b710bf.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.icheckbox_minimal-orange {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.icheckbox_minimal-orange.hover {
  background-position: -20px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.icheckbox_minimal-orange.checked {
  background-position: -40px 0;
}

/* line 27, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.icheckbox_minimal-orange.disabled {
  background-position: -60px 0;
  cursor: default;
}

/* line 31, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.icheckbox_minimal-orange.checked.disabled {
  background-position: -80px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.iradio_minimal-orange {
  background-position: -100px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.iradio_minimal-orange.hover {
  background-position: -120px 0;
}

/* line 41, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.iradio_minimal-orange.checked {
  background-position: -140px 0;
}

/* line 44, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.iradio_minimal-orange.disabled {
  background-position: -160px 0;
  cursor: default;
}

/* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
.iradio_minimal-orange.checked.disabled {
  background-position: -180px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 54, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/minimal/orange.scss */
  .icheckbox_minimal-orange,
  .iradio_minimal-orange {
    background-image: url(/assets/icheck/minimal/orange@2x-dd10fd94fa6aa469afe8d066985e1dbc79c64df38d83ce58201d97681cd52e25.png);
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
