



<%#= render "devise/shared/links" %>
<!-- Advanced login -->
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="panel panel-body login-form">
      <div class="text-center">
        <div class="icon-object border-primary text-primary"><i class="icon-lock2"></i></div>
        <h5 class="content-group">Change your password<small class="display-block">All fields are required</small></h5>
      </div>
      <div class="form-group has-feedback has-feedback-left">

        <%= f.password_field :password, autofocus: true, autocomplete: 'off',class: 'form-control',placeholder: 'Password'  %>
        <div class="form-control-feedback">
          <i class="icon-user-lock text-muted"></i>
        </div>
      </div>

      <div class="form-group has-feedback has-feedback-left">

        <%= f.password_field :password_confirmation, autocomplete: 'off',class: 'form-control' ,placeholder: 'Confirm Password' %>
        <div class="form-control-feedback">
          <i class="icon-user-lock text-muted"></i>
        </div>
      </div>

      <button type="submit" class="btn bg-primary btn-block btn-lg">Change my password <i class="icon-circle-right2 position-right"></i></button>
    </div>
<% end %>
<!-- /advanced login -->
