/* iCheck plugin Polaris skin
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.icheckbox_polaris,
.iradio_polaris {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 29px;
  height: 29px;
  background: url(/assets/icheck/polaris/polaris-5ba0e5aa645d88a194c248aaae7019af06d9628e8f9b12e4a6f5846bffb46ef1.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.icheckbox_polaris {
  background-position: 0 0;
}

/* line 21, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.icheckbox_polaris.hover {
  background-position: -31px 0;
}

/* line 24, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.icheckbox_polaris.checked {
  background-position: -62px 0;
}

/* line 27, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.icheckbox_polaris.disabled {
  background-position: -93px 0;
  cursor: default;
}

/* line 31, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.icheckbox_polaris.checked.disabled {
  background-position: -124px 0;
}

/* line 35, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.iradio_polaris {
  background-position: -155px 0;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.iradio_polaris.hover {
  background-position: -186px 0;
}

/* line 41, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.iradio_polaris.checked {
  background-position: -217px 0;
}

/* line 44, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.iradio_polaris.disabled {
  background-position: -248px 0;
  cursor: default;
}

/* line 48, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
.iradio_polaris.checked.disabled {
  background-position: -279px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 54, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/polaris/polaris.scss */
  .icheckbox_polaris,
  .iradio_polaris {
    background-image: url(/assets/icheck/polaris/polaris@2x-91a870867e05e8a423f07e087036f6df33c8c0fc1a85ea03091268f901e8a6eb.png);
    -webkit-background-size: 310px 31px;
    background-size: 310px 31px;
  }
}
