/* iCheck plugin Line skin
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line,
.iradio_line {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #000;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 20, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line .icheck_line-icon,
.iradio_line .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 33, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line.hover,
.icheckbox_line.checked.hover,
.iradio_line.hover {
  background: #444;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line.checked,
.iradio_line.checked {
  background: #000;
}

/* line 42, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line.checked .icheck_line-icon,
.iradio_line.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 46, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line.disabled,
.iradio_line.disabled {
  background: #ccc;
  cursor: default;
}

/* line 51, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line.disabled .icheck_line-icon,
.iradio_line.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 55, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line.checked.disabled,
.iradio_line.checked.disabled {
  background: #ccc;
}

/* line 59, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line.checked.disabled .icheck_line-icon,
.iradio_line.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 66, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line .icheck_line-icon,
  .iradio_line .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* red */
/* line 75, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red,
.iradio_line-red {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #e56c69;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 91, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red .icheck_line-icon,
.iradio_line-red .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 104, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red.hover,
.icheckbox_line-red.checked.hover,
.iradio_line-red.hover {
  background: #E98582;
}

/* line 109, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red.checked,
.iradio_line-red.checked {
  background: #e56c69;
}

/* line 113, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red.checked .icheck_line-icon,
.iradio_line-red.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 117, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red.disabled,
.iradio_line-red.disabled {
  background: #F7D3D2;
  cursor: default;
}

/* line 122, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red.disabled .icheck_line-icon,
.iradio_line-red.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 126, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red.checked.disabled,
.iradio_line-red.checked.disabled {
  background: #F7D3D2;
}

/* line 130, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-red.checked.disabled .icheck_line-icon,
.iradio_line-red.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 137, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-red .icheck_line-icon,
  .iradio_line-red .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* green */
/* line 146, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green,
.iradio_line-green {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #1b7e5a;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 162, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green .icheck_line-icon,
.iradio_line-green .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 175, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green.hover,
.icheckbox_line-green.checked.hover,
.iradio_line-green.hover {
  background: #24AA7A;
}

/* line 180, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green.checked,
.iradio_line-green.checked {
  background: #1b7e5a;
}

/* line 184, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green.checked .icheck_line-icon,
.iradio_line-green.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 188, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green.disabled,
.iradio_line-green.disabled {
  background: #89E6C4;
  cursor: default;
}

/* line 193, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green.disabled .icheck_line-icon,
.iradio_line-green.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 197, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green.checked.disabled,
.iradio_line-green.checked.disabled {
  background: #89E6C4;
}

/* line 201, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-green.checked.disabled .icheck_line-icon,
.iradio_line-green.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 208, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-green .icheck_line-icon,
  .iradio_line-green .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* blue */
/* line 217, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue,
.iradio_line-blue {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #2489c5;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 233, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue .icheck_line-icon,
.iradio_line-blue .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 246, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue.hover,
.icheckbox_line-blue.checked.hover,
.iradio_line-blue.hover {
  background: #3DA0DB;
}

/* line 251, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue.checked,
.iradio_line-blue.checked {
  background: #2489c5;
}

/* line 255, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue.checked .icheck_line-icon,
.iradio_line-blue.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 259, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue.disabled,
.iradio_line-blue.disabled {
  background: #ADD7F0;
  cursor: default;
}

/* line 264, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue.disabled .icheck_line-icon,
.iradio_line-blue.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 268, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue.checked.disabled,
.iradio_line-blue.checked.disabled {
  background: #ADD7F0;
}

/* line 272, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-blue.checked.disabled .icheck_line-icon,
.iradio_line-blue.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 279, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-blue .icheck_line-icon,
  .iradio_line-blue .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* aero */
/* line 288, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero,
.iradio_line-aero {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #9cc2cb;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 304, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero .icheck_line-icon,
.iradio_line-aero .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 317, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero.hover,
.icheckbox_line-aero.checked.hover,
.iradio_line-aero.hover {
  background: #B5D1D8;
}

/* line 322, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero.checked,
.iradio_line-aero.checked {
  background: #9cc2cb;
}

/* line 326, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero.checked .icheck_line-icon,
.iradio_line-aero.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 330, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero.disabled,
.iradio_line-aero.disabled {
  background: #D2E4E8;
  cursor: default;
}

/* line 335, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero.disabled .icheck_line-icon,
.iradio_line-aero.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 339, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero.checked.disabled,
.iradio_line-aero.checked.disabled {
  background: #D2E4E8;
}

/* line 343, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-aero.checked.disabled .icheck_line-icon,
.iradio_line-aero.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 350, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-aero .icheck_line-icon,
  .iradio_line-aero .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* grey */
/* line 359, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey,
.iradio_line-grey {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #73716e;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 375, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey .icheck_line-icon,
.iradio_line-grey .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 388, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey.hover,
.icheckbox_line-grey.checked.hover,
.iradio_line-grey.hover {
  background: #8B8986;
}

/* line 393, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey.checked,
.iradio_line-grey.checked {
  background: #73716e;
}

/* line 397, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey.checked .icheck_line-icon,
.iradio_line-grey.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 401, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey.disabled,
.iradio_line-grey.disabled {
  background: #D5D4D3;
  cursor: default;
}

/* line 406, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey.disabled .icheck_line-icon,
.iradio_line-grey.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 410, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey.checked.disabled,
.iradio_line-grey.checked.disabled {
  background: #D5D4D3;
}

/* line 414, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-grey.checked.disabled .icheck_line-icon,
.iradio_line-grey.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 421, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-grey .icheck_line-icon,
  .iradio_line-grey .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* orange */
/* line 430, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange,
.iradio_line-orange {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #f70;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 446, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange .icheck_line-icon,
.iradio_line-orange .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 459, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange.hover,
.icheckbox_line-orange.checked.hover,
.iradio_line-orange.hover {
  background: #FF9233;
}

/* line 464, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange.checked,
.iradio_line-orange.checked {
  background: #f70;
}

/* line 468, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange.checked .icheck_line-icon,
.iradio_line-orange.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 472, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange.disabled,
.iradio_line-orange.disabled {
  background: #FFD6B3;
  cursor: default;
}

/* line 477, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange.disabled .icheck_line-icon,
.iradio_line-orange.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 481, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange.checked.disabled,
.iradio_line-orange.checked.disabled {
  background: #FFD6B3;
}

/* line 485, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-orange.checked.disabled .icheck_line-icon,
.iradio_line-orange.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 492, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-orange .icheck_line-icon,
  .iradio_line-orange .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* yellow */
/* line 501, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow,
.iradio_line-yellow {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #FFC414;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 517, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow .icheck_line-icon,
.iradio_line-yellow .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 530, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow.hover,
.icheckbox_line-yellow.checked.hover,
.iradio_line-yellow.hover {
  background: #FFD34F;
}

/* line 535, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow.checked,
.iradio_line-yellow.checked {
  background: #FFC414;
}

/* line 539, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow.checked .icheck_line-icon,
.iradio_line-yellow.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 543, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow.disabled,
.iradio_line-yellow.disabled {
  background: #FFE495;
  cursor: default;
}

/* line 548, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow.disabled .icheck_line-icon,
.iradio_line-yellow.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 552, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow.checked.disabled,
.iradio_line-yellow.checked.disabled {
  background: #FFE495;
}

/* line 556, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-yellow.checked.disabled .icheck_line-icon,
.iradio_line-yellow.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 563, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-yellow .icheck_line-icon,
  .iradio_line-yellow .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* pink */
/* line 572, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink,
.iradio_line-pink {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #a77a94;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 588, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink .icheck_line-icon,
.iradio_line-pink .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 601, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink.hover,
.icheckbox_line-pink.checked.hover,
.iradio_line-pink.hover {
  background: #B995A9;
}

/* line 606, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink.checked,
.iradio_line-pink.checked {
  background: #a77a94;
}

/* line 610, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink.checked .icheck_line-icon,
.iradio_line-pink.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 614, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink.disabled,
.iradio_line-pink.disabled {
  background: #E0D0DA;
  cursor: default;
}

/* line 619, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink.disabled .icheck_line-icon,
.iradio_line-pink.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 623, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink.checked.disabled,
.iradio_line-pink.checked.disabled {
  background: #E0D0DA;
}

/* line 627, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-pink.checked.disabled .icheck_line-icon,
.iradio_line-pink.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 634, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-pink .icheck_line-icon,
  .iradio_line-pink .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
/* purple */
/* line 643, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple,
.iradio_line-purple {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #6a5a8c;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 659, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple .icheck_line-icon,
.iradio_line-purple .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 672, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple.hover,
.icheckbox_line-purple.checked.hover,
.iradio_line-purple.hover {
  background: #8677A7;
}

/* line 677, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple.checked,
.iradio_line-purple.checked {
  background: #6a5a8c;
}

/* line 681, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple.checked .icheck_line-icon,
.iradio_line-purple.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 685, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple.disabled,
.iradio_line-purple.disabled {
  background: #D2CCDE;
  cursor: default;
}

/* line 690, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple.disabled .icheck_line-icon,
.iradio_line-purple.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 694, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple.checked.disabled,
.iradio_line-purple.checked.disabled {
  background: #D2CCDE;
}

/* line 698, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
.icheckbox_line-purple.checked.disabled .icheck_line-icon,
.iradio_line-purple.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 705, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/_all.scss */
  .icheckbox_line-purple .icheck_line-icon,
  .iradio_line-purple .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
