/* iCheck plugin Line skin, blue
----------------------------------- */
/* line 4, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue,
.iradio_line-blue {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  background: #2489c5;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 20, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue .icheck_line-icon,
.iradio_line-blue .icheck_line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(/assets/icheck/line/line-53f72f0f63f7b9d795feff387f3f76e9634f147604a43dcc9d67091b62f1cf43.png) no-repeat;
  border: none;
}

/* line 33, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue.hover,
.icheckbox_line-blue.checked.hover,
.iradio_line-blue.hover {
  background: #3DA0DB;
}

/* line 38, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue.checked,
.iradio_line-blue.checked {
  background: #2489c5;
}

/* line 42, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue.checked .icheck_line-icon,
.iradio_line-blue.checked .icheck_line-icon {
  background-position: -15px 0;
}

/* line 46, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue.disabled,
.iradio_line-blue.disabled {
  background: #ADD7F0;
  cursor: default;
}

/* line 51, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue.disabled .icheck_line-icon,
.iradio_line-blue.disabled .icheck_line-icon {
  background-position: -30px 0;
}

/* line 55, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue.checked.disabled,
.iradio_line-blue.checked.disabled {
  background: #ADD7F0;
}

/* line 59, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
.icheckbox_line-blue.checked.disabled .icheck_line-icon,
.iradio_line-blue.checked.disabled .icheck_line-icon {
  background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 66, /home/sudhir/.rvm/gems/ruby-2.2.0/gems/icheck-rails-1.0.2.2/vendor/assets/stylesheets/icheck/line/blue.scss */
  .icheckbox_line-blue .icheck_line-icon,
  .iradio_line-blue .icheck_line-icon {
    background-image: url(/assets/icheck/line/line@2x-c6de05f1759797a43cde5ba31a74f3b23eb175b70ac13812b12ab443475ece85.png);
    -webkit-background-size: 60px 13px;
    background-size: 60px 13px;
  }
}
